{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : Bienvenue {% endblock %}

{% block body %}

<div class="container-fluid blog my-3">
    {% for article in articles %}
        {% if loop.index0 is divisible by (3) %}
    <div class="row">
        {% endif %}
        <div class="col-md">
            <h4 class="my-0">{{ article.title }}</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> {{ article.createdAt | date('d/m/Y à H:i') }}
                <i class="fas fa-cog"></i> {{ article.category.title }}
                <i class="fas fa-user-circle"></i> {{ article.user.username }}
            </div>
            <hr/>
            <img src="{{ article.image }}" class="img-fluid" alt="">
            <div class="content">
                {{ article.content | raw }}
            </div>
            <a href="{{ path('blog_view', { 'id': article.id }) }}" class="btn btn-primary btn-sm mb-3">
                <i class="fas fa-eye"></i> Lire la suite
            </a>
        </div>
        {% if loop.index is divisible by (3) or loop.last %}
    </div>
        {% endif %}
    {% endfor %}
    <ul class="pagination justify-content-center">
        <li class="disabled page-item">
            <a class="page-link">&laquo;&nbsp;Précédent</a>
        </li>
        <li class="active">
            <a class="page-link" href="index.html">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" rel="next" href="index.html">Suivant&nbsp;&raquo;</a>
        </li>
    </ul>
</div>

{% endblock %}

{% block javascript %}

<script>

$('#btn-article-new').on('click', function(event) {
    event.preventDefault();
    url = location.pathname + '/new';
    $.get(url, function(data) {
        $('#modal-article').remove();
        $('body').append(data);
        $('#modal-article').modal('show');
        $('#form-article').on('submit', function(event) {
            event.preventDefault();
            $.post(url, $(this).serialize(), function(data) {
                if(data != 'OK') {
                    $('#form-article .modal-body').html(data);
                } else {
                    $('#modal-article').modal('hide');
                    location.reload();
                }
            });
        });
    });
});

</script>

{% endblock %}
