{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : Bienvenue {% endblock %}

{% block body %}

<div class="container-fluid blog my-3">
    {% for article in articles %}
        {% if loop.index0 is divisible by (3) %}
    <div class="row">
        {% endif %}
        <div class="col-md">
            <h4 class="my-0">{{ article.title }}</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> {{ article.createdAt | date('d/m/Y à H:i') }}
                <i class="fas fa-cog"></i> {{ article.category.title }}
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="{{ article.image }}" class="img-fluid" alt="">
            <div class="content">
                {{ article.content | raw }}
            </div>
            <a href="{{ path('blog_view', { 'id': article.id }) }}" class="btn btn-primary btn-sm mb-3">
                <i class="fas fa-eye"></i> Lire la suite
            </a>
        </div>
        {% if loop.index is divisible by (3) or loop.last %}
    </div>
        {% endif %}
    {% endfor %}
    <ul class="pagination justify-content-center">
        <li class="disabled page-item">
            <a class="page-link">&laquo;&nbsp;Précédent</a>
        </li>
        <li class="active">
            <a class="page-link" href="index.html">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" rel="next" href="index.html">Suivant&nbsp;&raquo;</a>
        </li>
    </ul>
</div>
<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="articleModalLabel">Ajouter un article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times-circle" style="color:#e74c3c"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" placeholder="Titre de l'article" required autofocus/>
                    <span id="titreHelp" class="help-block">Veuillez saisir un titre.</span>
                </div>
                <div class="form-group">
                    <label for="category" class="font-weight-bold">Catégorie</label>
                    <select class="custom-select" id="category" required>
                        <option value="">Lorem ipsum dolor sit amet.</option>
                        <option value="1">Lorem ipsum dolor sit amet.</option>
                        <option value="2">Lorem ipsum dolor sit amet.</option>
                        <option value="3">Lorem ipsum dolor sit amet.</option>
                    </select>
                    <span id="categoryHelp" class="help-block">Veuillez sélectionner une catégorie.</span>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="text" class="form-control" id="image" placeholder="URL de l'image" required/>
                    <span id="imageHelp" class="help-block">Veuillez saisir l'url d'une image.</span>
                </div>
                <div class="form-group">
                    <label for="content">Contenu</label>
                    <textarea class="form-control" placeholder="Contenu de l'article" id="content" rows="5"></textarea>
                    <span id="contentHelp" class="help-block">Veuillez saisir un contenu.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary px-3 py-2 mr-2">
                    <i class="fas fa-save"></i> Enregistrer
                </button>
                <button type="button" class="btn btn-secondary px-3 py-2" data-dismiss="modal">
                    <i class="fa fa-ban"></i> Annuler
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
