{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} : {{ article.title }} {% endblock %}

{% block body %}

<div class="container view my-3">
    <h2 class="my-0">{{ article.title }}</h2>
    <div class="metadata">
        <i class="fas fa-calendar-alt"></i> {{ article.createdAt | date('d/m/Y à H:i') }}
        <i class="fas fa-cog"></i> {{ article.category.title }}
        <i class="fas fa-user-circle"></i> {{ article.user.username }}
    </div>
    <hr/>
    <img src="{{ article.image }}" class="img-fluid mb-3" alt="">
    <div class="content">
        {{ article.content | raw }}
    </div>
</div>
<div class="container comments my-3">
    {% if article.comments | length != 0 %}
    <h4>{{ article.comments | length }} commentaires ...</h4>
        {% for comment in article.comments %}
    <div class="bg-light rounded m-3 p-3">
        <div class="row">
            <div class="col-avatar">
                <img src="http://lorempixel.com/80/80/city/" class="img-fluid rounded mt-1" alt="">
            </div>
            <div class="col-md">
                <h5>{{ comment.user.username }} le {{ comment.createdAt | date('d/m/Y à H:i') }}</h5>
                {{ comment.content }}
            </div>
        </div>
    </div>
        {% endfor %}
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <h4>Laisser un commentaire :</h4>
    {{ form_start(form) }}
        {{ form_row(form.content) }}
        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary mx-1">Enregistrer</button>
            <button type="button" class="btn btn-secondary mx-1">Annuler</button>
        </div>
        {{ form_end(form) }}
    {% endif %}
</div>

{% endblock %}

{% block javascript %}

<script>

$('#btn-article-edit').on('click', function(event) {
    event.preventDefault();
    url = location.pathname + '/edit';
    $.get(url, function(data) {
        $('#modal-article').remove();
        $('body').append(data);
        $('#modal-article').modal('show');
        $('#form-article').on('submit', function(event) {
            event.preventDefault();
            $.post(url, $(this).serialize(), function(data) {
                if(data != 'OK') {
                    $('#form-article .modal-body').html(data);
                } else {
                    $('#modal-article').modal('hide');
                    location.reload();
                }
            });
        });
    });
});

</script>

{% endblock %}
